 /*
 * Globals
 */

body {
  font-family: 'Muli', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Playfair Display', serif;"
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
    margin: auto;
  }
}
/****************************
 * Added for Midterm Project*
 ***************************/

 .app-left{
   width:50%;
   min-width: 320px;
   float:left;
 }
 .app-right{
   display: inline-block;
   width:50%;
   min-width: 320px;
   float:left;
 }
 #list{
   padding:20px;
   font-size: 20px;
 }
 #list li:hover{
  cursor: pointer;
  background-color: RGBA(253,218,64,.3);
 }
 #list li img{

 }
 #list li img:hover{
   cursor: pointer;
 }
 #list li img:active{
   opacity: 50%;
 }
#authentication{
  text-align: center;
}
#goTo{

}
#goTo:hover{
  cursor: pointer;
  color: RGBA(253,218,64);
}
#title-a{
  margin: 30px;
}
 #content-form{
   padding:20px;
   font-family: 'Muli', sans-serif;
   color: #000;
 }
 .product-input{
   border: 2px black solid;
   border-radius: 20px;
   height: 45px;
   min-width: 200px;
   padding:5px;
   font-size: 16px;
 }
 input:focus{
   outline-width: 0;
 }
 #title-input{
   width:300px;
 }

#update{
  border: 3px black solid;
  border-radius: 20px;
  height: 45px;
  min-width: 200px;
  padding:5px;
  font-size: 16px;
  background-color: #FFF;
  font-weight: 800;
  -webkit-transition: background-color 2s; /* Safari */
   transition: background-color 2s;
}
#update:hover{
  cursor: pointer;
  background-color: RGBA(253,218,64,.3);
}
.login-button{
  border: 3px black solid;
  border-radius: 20px;
  height: 45px;
  min-width: 200px;
  padding:5px;
  font-size: 16px;
  background-color: #FFF;
  font-weight: 800;
  -webkit-transition: background-color 2s; /* Safari */
   transition: background-color 2s;
}
.login-button:hover{
  cursor: pointer;
  background-color: RGBA(253,218,64,.3);
}
#edit-product{
  border: 3px black solid;
  border-radius: 20px;
  height: 45px;
  min-width: 200px;
  padding:5px;
  font-size: 16px;
  background-color: #FFF;
  font-weight: 800;
  -webkit-transition: background-color 2s; /* Safari */
   transition: background-color 2s;
}
#edit-product:hover{
  cursor: pointer;
  background-color: RGBA(253,218,64,.3);
}
 .label{
   font-size: 26px;
   margin: 10px;
 }


/*
 * Masthead for nav
 */

.master-header{
  background-color: #FDDA40;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.logo{
  position: relative;
  display: inline-block;
  margin: 20px;
}
/*************/
/* Nav links */
/*************/

.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav li{
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 32px;
  font-family: 'Playfair Display', serif;
}
.blog-nav li:hover{
  color: #fff;
  cursor: pointer;
}

#nav{
	display:inline-block;
	float: left;
    font-weight: bold;
    font-color: #000e11;
    text-align: left;
	margin-top: 70px;
	font-size:16px;
	margin-bottom: 0px;
  min-height:100px;
}
#nav a{
    padding-left:20px;
    text-decoration:none;
    color: #FFFFFF;
}
#nav a:link {
  font-size:18pt;
}
#nav a:visited {
  color:#fff0e5
}
#nav a:hover {
  color:#000e11;
}
#border_a{
  background-color: #000e11;
  height: 15px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    height: 60px;
    border: none;
    float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-top: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {padding-left: 140px; background-color: RGB(255,255,255,.3);}


/* Active state gets a caret at the bottom */

.blog-nav .active {
  color: #fff;
  background: #595C61;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
a{
    color:white;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

.home-featured-2{
  padding: 30px 30px 0px 30px;
  text-align: left;
}
.featured-heading{
  padding: 20px;
  color: #1F364A;
}
.sub-description{
  width: 80%;
  min-width: 320px;
  padding: 10px 20px;
  text-align: justify;
  border-radius: 30px 30px 0px 0px;
  color: white;
  background-color: #BDBDAB;
}

.sub-description-b{
  width: 80%;
  min-width: 320px;
  padding: 25px;
  text-align: justify;
  border-radius: 0px 0px 30px 30px;
  color: white;
  background-color: #BDBDAB;
}

.learn{
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  border-width: 0px;
  color: black;
  margin:20px;
  background: white;
  transition-property: background, color;
   -webkit-transition: background 1s,color 1s;
}
.learn:hover{
  cursor: pointer;
  background: black;
  color: white;
}
.three-featured{
  background-color: #33cccc;
  margin: 0px;
}
.home-featured-3{
  padding: 100px 20px;
  text-align: left;
}
.home-featured-3:hover{
  padding: 100px 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.featured-heading-2{
  color:white;
}
.featured-heading-3{
  color:white;
  text-align: center;
}
.sub-description-c{
  text-align: center;
  color: white;
  font-size: 12pt;
  align-items: center;
}
.featured-single{
  background-image: url("http://localhost/wp-content/uploads/2018/01/framework_2x1.jpg");
  height: auto;
  min-height: 105VH;
  width: auto;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.myblog-main{
  background-color: #33cccc;
}
/*
 * Main column and sidebar layout
 */
.content{
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
    width: 960px;
    min-width: 320px;
}
.blog-main {
  font-size: 14px;
  line-height: 1.5;
  margin-top:50px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
  color:white;
  text-decoration: none;
}
.blog-post-title a{
  margin-bottom: 5px;
  font-size: 40px;
  text-decoration: none;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
