<html>
<div id="app">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Muli|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"></link>
    <div class="master-header">
      <nav class="blog-nav">
        <li>Emmet's</li>
        <div class="dropdown">
          <img src="female_avitar.png" class="dropbtn"></img>
          <ul class="dropdown-content" style="float: right;">
            <li class="dropdwnbttn" v-if="validSession" v-on:click="getUser">Account</li>
            <li class="dropdwnbttn" v-if="validSession" v-on:click="destroySession">Logout</li>
            <div v-if="noSession">
              <div class="dropdwnbttn" id="login-form" v-if="hasAccount" >
                <h1 id="title-a">Login:</h1>
                <div id="user-E-Mail">E-mail</div><input type="text" v-model="newSession.email">
                <div id="user-Passowrd">Password</div><div><input type="password" v-model="newSession.password"></div>
                <button class="login-button" style="margin:15px;" v-on:click="addSession">Submit</button>
                <p id="goTo" v-on:click="switchToRegister">Register</p>
                <p style="color:#DE98A6;" v-if="emailOrPasswordInvalid">Email and or Password is invalid, Please Try Again.</p>
              </div><!--#Login-form-->

              <div class="dropdwnbttn" id="register-form" v-else>
                <h1 id="title-a">Create An Accout:</h1>
                <div id="user-fName">First Name</div><input type="text" v-model="newUser.fName">
                <div id="user-lName">Last Name</div><input type="text" v-model="newUser.lName">
                <div id="user-E-Mail">E-mail</div><input type="text" v-model="newUser.email"><i style="color:red;" v-if="emailAlreadyExists">*This e-mail: {{ newUser.email }} is already registered with an account.</i>
                <p style="" v-if="emailFormatInvalid">
                  <i>*Please enter a valid email address i.e. johndoe@gmail.com</i>
                </p>
                <div id="user-Password">Password</div><input type="password" v-model="newUser.password">
                <p style="">
                  <p style="font-size:70%;">Password must be: <i v-if="passwordLengthInvalid"> 8 characters long, </i><i v-if="symbolRequired">contain a Symbol i.e.()@#$%^*, </i><i v-if="capitalLetterRequired"> a Capital Letter, </i><i v-if="lowercaseLetterRequired"> 1 Lowercase Letter, </i><i v-if="numericValueRequired"> and at least one numeric value.</i></p>
                <div id="user-Password">Confrim Password</div><input type="password"v-model="passwordCompare">
                <p v-if="confirmPasswordNoMatch">
                  <i style="color:red;">*Passwords do not match, please re-enter.</i>
                </p>
                <button v-else class="login-button" style="margin:15px;" v-on:click="addUser">Submit</button>
                <p id="goTo" v-on:click="switchToLogin">Login</p>
              </div><!--#reigstation-form-->
            </div><!--No Session-->
          </ul>
        </div>
      </nav>
    </div>
  </head>
  <body class="container">
    <div id="authentication" v-if="noSession">
      <img style="margin-top: 30px; margin-bottom:15px;" src="emmets-homepage-pic_350x350.jpg">

      <p style="text-align:left;"><b style="font-family: 'Yanone Kaffeesatz', sans-serif;  font-size:130%">Emmet's Clothing</b> is a Designer Online store where members can receive amazing clothing for their littles at an incredible price. This Exclusive membership allows you to find affordable clothing that will also be unique and adorable!</p>
      <p style="text-align:left;">Membership is free and once registered and logged in allows you to access our exclusive online store! Please Login or Sign up Today!</p></div>

    <div v-else-if="account">
      <div id="goTo" style="padding:16px;" v-on:click="showProduct"><b>Go Back to Products</b></div>
      <!-- GET user -->
      <div id="content-form" v-if="showAccount">
        <h1 id="name">{{currentUser.fname}} {{currentUser.lname}}</h1>
        <div class="email" id="picture">email: {{currentUser.email}}</div>

        <button id="edit-user" style="margin:15px;" v-on:click="editUser">Edit</button>
      </div>
      <!-- UPDATE user -->
      <div id="content-form" v-if="editAccount">
        <h1 id="title-a">Edit User Account:</h1>
        <div id="user-fName">First Name</div><input type="text" v-model="currentUser.fName">
        <div id="user-lName">Last Name</div><input type="text" v-model="currentUser.lName">
        <div id="user-E-Mail">E-mail</div><input type="text" v-model="currentUser.email"><i style="color:red;" v-if="emailAlreadyExists">*This e-mail: {{ currentUser.email }} is already registered with an account.</i>
        <p style="" v-if="emailFormatInvalid">
          <i>*Please enter a valid email address i.e. johndoe@gmail.com</i>
        </p>
        <div id="user-Password">Password</div><input type="password" v-model="newUser.password">
        <p style="">
          <p style="font-size:70%;">Password must be: <i v-if="passwordLengthInvalid"> 8 characters long, </i><i v-if="symbolRequired">contain a Symbol i.e.()@#$%^*, </i><i v-if="capitalLetterRequired"> a Capital Letter, </i><i v-if="lowercaseLetterRequired"> 1 Lowercase Letter, </i><i v-if="numericValueRequired"> and at least one numeric value.</i></p>
        <div id="user-Password">Confrim Password</div><input type="password"v-model="passwordCompare">
        <p v-if="confirmPasswordNoMatch">
          <i style="color:red;">*Passwords do not match, please re-enter.</i>
        </p>
        <button v-else class="login-button" style="margin:15px;" v-on:click="updateUser">Submit</button>
        <p id="goTo" v-on:click="getUser">Cancel</p>
      </div><!--showAccount editAccount-->
    </div>

    <div v-else>  <!-- Show Store -->
      <div class="app-left">
        <ul id="list">
          <li id="product" style="list-style:none; padding: 5px; border-bottom: 2px solid #000;" v-for="product in items" v-on:click="showProduct(product)">
            {{product.title}}
            <img src="delete.png"style="float:right;"height="20"width="20" v-on:click="destroyProduct(product._id)" >
          </li>
          <li id="product" style="list-style:none; padding: 5px; border-bottom: 2px solid #000; text-align: center;" v-on:click="newProductForm()">
          <b>New Product</b>
        </ul>
      </div>

      <div class="app-right">
  <!-- UPDATE -->
        <div id="content-form" v-if="showEditForm">
          <h1 id="title">Edit Product</h1>
          <div class="label" id="picture"><b>*Picture URL</b></div>
          <input class="product-input" id="title-input" type="url" v-model="currentProduct.picture">
          <div class="label" id="title"><b>*Title</b></div>
          <input class="product-input" type="text" v-model="currentProduct.title">
          <div class="label" id="price"><b>*Price</b></div>
          <input class="product-input" type="text" v-model="currentProduct.price">
          <div class="label" id="stock"><b>*Stock per Size</b></div>
          <input class="product-input" type="range" min="0" max="15" v-model="currentProduct.stock">
          <div class="label" id="description"><b>*Description</b></div>
          <input class="product-input" type="text" v-model="currentProduct.description">
          <div class="label" id="detail_item"><b>Detail Items</b></div>
          <input class="product-input" type="text" v-model="currentProduct.detail_item">
          <div class="label" id="about"><b>*About</b></div>
          <input class="product-input" type="text" v-model="currentProduct.about">
          <button id="update" style="margin:15px;" v-on:click="updateProduct(currentProduct._id)">Confirm</button>
        </div>
  <!-- GET -->
        <div id="content-form" v-else-if="showCurrentProduct">
          <h1 id="title">{{currentProduct.title}}</h1>
          <div class="label" id="picture">Picture: {{currentProduct.picture}}</div>
          <div class="label" id="price">Price: {{currentProduct.price}}</div>
          <div class="label" id="stock">Stock: {{currentProduct.stock}}</div>
          <div class="label" id="description">Desciption: {{currentProduct.description}}</div>
          <div class="label" id="detail_item">Detail Items: {{currentProduct.detail_item}}</div>
          <div class="label" id="about">About: {{currentProduct.about}}</div>

          <button id="edit-product" style="margin:15px;" v-on:click="editProduct()">Edit</button>
        </div>

  <!-- POST -->
         <div id="content-form" v-else>
           <h1 id="title">Add a New Product:</h1>
           <div class="label" id="picture"><b>*Picture URL</b></div>
           <input class="product-input" id="title-input" type="url" v-model="newProduct.picture">
           <div class="label" id="title"><b>*Title</b></div>
           <input class="product-input" type="text" v-model="newProduct.title">
           <div class="label" id="price"><b>*Price</b></div>
           <input class="product-input" type="text" v-model="newProduct.price">
           <div class="label" id="stock"><b>*Stock</b></div>
           <!--<label>3-6 Months</label><input type="number">
           <label>6-12 Months</label><input type="number">
           <label>12-18 Months</label><input type="number">
           <label>18-24 Months</label><input type="number">
           <label>2T</label><input type="number">
           <label>3T</label><input type="number">-->
           <input class="product-input" type="range" min="0" max="15" v-model="newProduct.stock">
           <div class="label" id="description"><b>*Description</b></div>
           <input class="product-input" type="text" v-model="newProduct.description">
           <div class="label" id="detail_item"><b>Detail Items</b></div>
           <input class="product-input" type="text" v-model="newProduct.detail_item">
           <div class="label" id="about"><b>*About</b></div>
           <input class="product-input" type="text" v-model="newProduct.about">
           <button id="add" style="margin:15px;" v-on:click="addProduct">Submit</button>
         </div><!-- v-else post-->
       </div><!-- app-right -->
     </div><!-- v-else authentic -->
   </div>


   <script src="vue.js"></script>
   <script src="app.js"></script>
   <footer>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   </footer>
  </body>
 </html>

<!-- Name: PRCA Fan, Rodeo Fan, $1500 -$2000, $350,000 National AD 2008 -->
<!-- VRBO Trailer Style -->
